.container, 
.row1, 
.row2, 
.row3, 
.row4, 
.row5 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.container {
    flex-direction: column;
}

.display {
    height: 40px;
}

button {
    width: 40px;
    height: 40px;
}

#clear, 
#equals {
    height: 40px;
    width: 80px;
}